:root {
  --btn-border-color: #757575;
  --btn-bg-color: transparent;
  --btn-border-color-active: #a9a9a9;
  --btn-bg-color-active: #f3f3f3;
}

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  align-items: center;
  background-color: #FFFFF2;
  color: black;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid var(--btn-border-color);
  background-color: var(--btn-bg-color);
  border-radius: 3px;
  color: #232323;
  outline: none;
}

button:active, button:focus, button.active {
  background-color: var(--btn-bg-color-active);
  border-color: var(--btn-border-color-active);
}